@import 'colors.scss', 'mixins.scss', 'calculator.scss';
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@200;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $main-bg-color;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Sora', 'Helvetica', sans-serif;
  text-align: center;
}

footer {
  margin-top: 2rem;
  line-height: 2rem;
  color: white;

  a {
    color: #E7859A;
    text-decoration: none;
    
    &:hover {
      color: #F3B8C6;
    }
  }
}
