$main-bg-color: whitesmoke;

$item-bg-color: hsl(194, 77%, 57%);
$item-border-color: hsl(197, 100%, 45%);

$op-bg-color: hsl(31, 94%, 56%);
$op-border-color: hsl(31, 100%, 48%);

$display-bg-color: hsl(295, 68%, 73%);
$display-border-color: hsl(297, 82%, 65%);

$ac-bg-color: hsl(0, 76%, 69%);
$ac-border-color: hsl(0, 56%, 51%);

$eq-bg-color: hsl(121, 41%, 61%);
$eq-border-color: hsl(120, 50%, 46%);
